{% extends "layout.html" %}

{% block content %}

<h2>Kirill Subbotin</h2>

<p>
    Born February 17 1987.<br />
    Now I live in St. Petersburg Russia, but I'm going to go to Vietnam.<br />
    I have an analytical mindset, capable of learning fast and I wish to contribute to the progress of mankind.
</p><br />

<p>
    <h4>Working experience</h4>
</p>

<p>
    <div class="row">
        <div class="col-md-3">
            March 2019 - Now
        </div>
        <div class="col-md-6">
            <strong>PJSC "Sberbank" (ПАО "Сбербанк")</strong><br />
            <strong>Load Testing Engineer</strong><br />
            Part of mobile app load testing team.
        </div>
    </div>
</p>

<p>
    <div class="row">
        <div class="col-md-3">
            January 2016 - March 2018
        </div>
        <div class="col-md-6">
            <strong>LLC "Automation and Service" (ООО "Автоматизация и сервис")</strong><br />
            <strong>Lead Engineer</strong><br />
            Development and implementation of automated control systems for chemical facilities. Participation in projects of Taneco JSC and Gazprom Neft PJSC
        </div>
    </div>
</p>

<p>
    <div class="row">
        <div class="col-md-3">
            June 2014 - January 2016
        </div>
        <div class="col-md-6">
            <strong><a href="https://www.pci-services.ca/ru">PCI Services</a></strong><br />
            <strong>Engineer</strong><br />
            Development and implementation of automated control systems for chemical facilities.
        </div>
    </div>
</p>

<p>
    <div class="row">
        <div class="col-md-3">
            January 2014 - May 2014
        </div>
        <div class="col-md-6">
            <strong><a href="http://www.metallografika.ru">LLC "Metallografika" (ООО "Металлографика")</a></strong><br />
            <strong>Computer designer</strong><br />
            Desing and layouts for printing on metal sheets (CorelDraw).
        </div>
    </div>
</p>

<p>
    <div class="row">
        <div class="col-md-3">
            August 2009 - November 2012
        </div>
        <div class="col-md-6">
            <strong><a href="http://www.rzd.ru">JSC Russian Railways (ОАО РЖД)</a></strong><br />
            <strong>Engineer</strong><br />
            Analysis of the stations and railway nodes working. Implementation of "Lean Production".
        </div>
    </div>
</p>
<br />

<p>
    <h4>Higher education</h4>
</p>
<p>
    Petersburg State University of Railway Transport 2009. Diploma in Information systems.
</p><br />

<p>
    <h4>Courses and certificates</h4>
</p>
<p>
    <a href="https://www.sololearn.com/Certificate/1073-10606560/pdf/">Python 3 Tutorial course</a><br />
    <a href="https://stepik.org/cert/129324">Python programmingn</a><br />
    <a href="https://stepik.org/cert/163587">Software Testing: Basic</a><br />
    English <a href="https://www.efset.org/cert/gSUC4K</a>
</p><br />

<p>
    <h4>Skills</h4>
</p>
<p>
    <ul>
        <li>Advanced Windows (Win XP - Win 10, Server 2008)</li>
        <li>Python 3</li>
        <li>Basic knowledge C/С++, Java</li>
        <li>Process Control Languages FBD, FCS, Sebol</li>
        <li>Basic knowledge SQL (Oracle DB)</li>
        <li>Methodologies for software testing</li>
        <li>Manual testing (check-lists/test-cases)</li>
        <li>Git</li>
        <li>Jira/Confluence</li>
        <li>HP LoadRunner/Performance Center/ALM</li>
        <li>IBM WebSphere/MQ Explorer</li>
    </ul>
</p><br />

    {% endblock %}
