{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<address>
    <p><strong>Phone:</strong> +79213182731</p>
</address>

<address>
    <p><strong>E-mail:</strong>   <a href="mailto:dontpanic.spb@gmail.com">dontpanic.spb@gmail.com</a><br /></p>
</address>

<address>
    <strong>Job resume (hh.ru)</strong>
    <p>
        <a href="https://spb.hh.ru/resume/7b16b24aff05fe69ad0039ed1f68576b693356">QA engineer (Load Testing engineer)</a><br />
    </p>
</address>

<address>
    <strong>Social networks</strong>
    <p> <a href="https://m.facebook.com/dontpanic.spb">Facebook</a><br /></p>
    <p> <a href="https://twitter.com/Mr42th">Twitter</a><br /></p>
    <p> <a href="https://www.linkedin.com/in/%D0%BA%D0%B8%D1%80%D0%B8%D0%BB%D0%BB-%D1%81%D1%83%D0%B1%D0%B1%D0%BE%D1%82%D0%B8%D0%BD-949b56253/"">LinkedIn</a><br /></p>
</address>

{% endblock %}
